# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env:
NEXT_PUBLIC_SUPABASE_URL=https://niywwuhzzsjqjsgqseyw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5peXd3dWh6enNqcWpzZ3FzZXl3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTExMDM0MzYsImV4cCI6MjA2NjY3OTQzNn0.yCPTjf3YVqMXkpzU1nOFS3AwvC2IyNepkF3h8qT2WBo

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/lib/generated/prisma
